* {
  font-family: sans-serif;  
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



/* Style the footer */
footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Style the label */
label {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  padding-left: 10px;
  line-height: 1.5;
}

/* Style the input */
input {
  border-radius: 15px;
  border: 2px bold #3c4043;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  background-color: #303134;
}